@use "variables" as v;
@use "mixins" as m;

.top-container {
  // display: flex;
  // justify-content: center;
  // align-items: center;

  &__text2 {
    font-size: 36px;
    font-weight: 300;
    color: v.$light;
    margin-bottom: 1rem;
    text-align: center;
    margin-top: 20px;
    font-family: v.$myFont_family;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__taskList {
      //!ul
      min-width: 30%;
      list-style: none;

      &__todo {
        margin: 0.5rem;
        background: white;
        font-size: 1.5rem;
        color: black;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: all 1s ease;

        &__deletBtn {
          font-size: 40px;
          @include m.button_1;
          @include m.desktop {
          }
        }

        &__doneBtn {
          font-size: 40px;
          @include m.button_2;
        }

        &__item {
          //! li
          flex: 1;
        }
      }
    }
  }

  &__deleteAll_Btn {
    @include m.button_3;
    width: 30%;
    background-color: v.$pink;
    color: black;
    font-family: v.$myFont_family;
    font-size: 2rem;
  }

  &__sortButton {
    @include m.button_3;
    width: 30%;
    background-color: v.$pink;
    color: black;
    font-family: v.$myFont_family;
    font-size: 2rem;
    margin: 10px;
  }

  &__filter {
    display: inline-block;
    color: v.$light;
    text-align: center;
    padding: 5px;
    margin: 1rem;
    position: relative;
    overflow: hidden;

    &::after {
      content: "\25BC";
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem;
      background: #ff6f47;
      cursor: pointer;
      pointer-events: none;
    }

    &__todoFilter {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      appearance: none;
      outline: 0;
      box-shadow: none;
      border: 0 !important;
      background-image: none;
      color: #ff6f47;
      font-family: "Poppins", sans-serif;
      cursor: pointer;
      width: 15rem;
    }
  }

  &--checked {
    text-decoration: line-through;
    -webkit-text-decoration: line-through;
    text-decoration-color: v.$pink;
    -webkit-text-decoration-color: v.$pink;
  }
}

.fa-trash,
.fa-check {
  pointer-events: none;
}
